Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [1]:
NAME = ""
COLLABORATORS = ""

---

# Assignment 3

This notebook contains a set of exercises that will guide you through the different steps of this assignment. The aim of this assignment is to perform the different steps require for Data preparation using a real dataset. The assignment consists of 9 exercises, plus a bonus exercise that will grant you up to 1 extra point.

<div class="alert alert-danger"><b>Submission deadline:</b> Thursday, April 29th, 20:00</div>

### Instructions

Read carefully the following instructions before starting the exercises. 

- This notebook is automatically graded. This means that there are several cells embedded into the notebook that take care of checking your code and grading it. It also means that it is important **to follow the instructions for each of the exercises** to make sure that you do everything right.

- There exist many different solutions to every exercise. We will accept different solutions as long as they are based on Python code. 

- Write your code in the dedicated cells. You can use as many cells as you like. Just make sure to include all the necessary code **before the corresponding test**. Remember that it is often a good idea to split your ocde through different cells to avoid errors.

- Tests look for specific variables and objects. This means that in order to receive the points for each exercise, you need to **create those objects**. Also, be careful **not to modify the given function names** or those of their attributes.

- We have created some additional test cells that will help you check that you got the basics right and that you defined all the variable and function names correctly. You can run these checks as many times as you want, **as long as you don't modify them**.  

- The grading tests will remain hidden. It is important that you **do not write any code, nor do you remove the cells left in blank** for this purpose. 

- Using the **input()** function in your code will result in an error when grading your code. You can use this function to try our your code, but remember to remove any call to it before submission.

- When possible, example results will be provided for every exercise. These examples are provided only as guidance. You can use them at your convenience or simply ignore them. We advise that you **come up with additional examples on your own** to ensure your code works properly.

- Late submissions or submissions in a wrong format **will not be accepted**. The only valid format is '.ipynb', not '.py', '.docx' or '.pdf'

### Context

The Asian wasp (Vespa Velutina) is a species native to Southeast Asia that, it seems, began its European journey through France in 2005. The first nest arrived by boat from China and, since then, it has spread across Europe.
These little insects love the Atlantic climate and enjoy nesting in rural and urban environments throughout Northern Spain. They choose, especially, the vegetation of our oak groves and acacia forests to build their nests and barracks.
However, these wasps pose a significant threat to our environment. To feed their larvae, they capture bees and other species of insects, causing serious imbalances in ecosystems. Likewise, they also cause serious damage to fruit trees and the hives of honey-producing bees, generating a negative impact on rural areas.

In [Kopuru](https://kopuru.com/desafio/vespa-velutina/), an online platform that launches open data challenges, they have echoed this problem and want to show that Data Science can help to minimize the impact of these small predators. That is why they have launched a new challenge: the “vespa velutina data challenge”. To participate, you will have to register on Kopuru and show that you are capable of developing a model that accurately predicts the number of nests of this wasp for each municipality in the Territory of Biscay for the year 2020. Better planning will undoubtedly help to better manage this invasive species and reduce its impact.

<img src="https://kopuru.com/wp-content/uploads/2021/02/reto-kopuru.jpg" style="width: 400px;"/>

Throughout the next two assignments, we will guide you through the initial steps of data preparation and model training. It will then be up to you to decide whether you want to go on with the challenge and send in your solutions to opt for the prize. Those students that submit a solution to the challenge will receive extra credit based on the value of their submissions. 

**We recommend to do not use the scikit-learn library for this third assignment. All exercises can be solved using Pandas.**

### Task

In order to train a model, you will presumably need to merge data from the different sources provided to try and include as much information as possible. In this first assignment we will begin by taking a look at the data about the location of Asian hornet nests in Bizkaia. These data are published by the Regional Council of Bizkaia on yearly basis. You can find the latest release at the following [link](https://www.opendatabizkaia.eus/en/catalogue/asian-hornet/resource/asian-hornet-nest-data).

### Acquiring the data

The first step of the machine learning pipeline is to acquire the data. Here, we are going to read the data directly from its source location to avoid having to download it. For this purpose, go to the provided link, right click on *Download csv* and select *Copy Link adress*. You can then provide this link in string form as an argument to the ```read_csv``` function. **Not download** the data and upload it to Google Colab.

<div class="alert alert-info"><b>Exercise </b> Write the code to read the data from their source location and store them in a Pandas DataFrame called <b>data</b>.
</div>

<div class="alert alert-warning"> The full list of columns that should be included in your dataframe can be found in the provided link. They are the following: ALTA_DATA/FECHA ALTA, ALTUERA/ALTURA, DIAMETROA/DIAMETRO, EGOERA_CAS/ESTADO_CAS,EGOERA_EU/ESTADO_EU, ERABILTZAILEA_CAS/USUARIO_CAS,ERABILTZAILEA_EU/USUARIO_EU, ESPEZIE/ESPECIE, HELBIDEA/DIRECCION, ITXIERAKO AGENTEA_CAS/AGENTE CIERRE_CAS, ITXIERAKO AGENTEA_EU/AGENTE CIERRE_EU, ITXIERA_DATA/FECHA CIERRE, JARDUERA_ZENBAKIA/NUM_ACTUACION, KOKALEKUA/UBICACION, UDALERRIA/MUNICIPIO, URTEA/ANIO, _id, latitude and longitude.</div>

In [2]:
# YOUR CODE HERE
import pandas as pd
data=pd.read_csv("https://www.opendatabizkaia.eus/en/dump/d3aa5662-95a9-4f08-b254-b44a230014db/asian-hornet-nest-data?format=csv")

Because we are going to use this dataframe throughout the assignment, let's make sure you created it correctly. For that reason, the following tests have been left open for you to run. Do not worry about the code itself. Simply run the cells below. If you get no error, it means you did alright. Otherwise, go back to your code and try to locate your mistakes.

Don't move on to the next exercises until you make sure the code to create the dataframe is correct.

In [3]:
import unittest
import pandas as pd

tc = unittest.TestCase()

tc.assertTrue('data' in locals())
tc.assertIsInstance(data, pd.DataFrame)
tc.assertEqual(set(data.columns), {'ALTA_DATA/FECHA ALTA',
                                     'ALTUERA/ALTURA',
                                     'DIAMETROA/DIAMETRO',
                                     'EGOERA_CAS/ESTADO_CAS',
                                     'EGOERA_EU/ESTADO_EU',
                                     'ERABILTZAILEA_CAS/USUARIO_CAS',
                                     'ERABILTZAILEA_EU/USUARIO_EU',
                                     'ESPEZIE/ESPECIE',
                                     'HELBIDEA/DIRECCION',
                                     'ITXIERAKO AGENTEA_CAS/AGENTE CIERRE_CAS',
                                     'ITXIERAKO AGENTEA_EU/AGENTE CIERRE_EU',
                                     'ITXIERA_DATA/FECHA CIERRE',
                                     'JARDUERA_ZENBAKIA/NUM_ACTUACION',
                                     'KOKALEKUA/UBICACION',
                                     'UDALERRIA/MUNICIPIO',
                                     'URTEA/ANIO',
                                     '_id',
                                     'latitude',
                                     'longitude'})
tc.assertEqual(len(data.columns), 19)

### Dropping redundant columns

The *_id* column provides the row identifier for every entry in the dataframe. Since this value is already given by the row index we are going to remove this column from our dataframe. In addition, the variable *JARDUERA_ZENBAKIA/NUM_ACTUACION* provides the case number for each nest. This is a unique identifier for each nest that is not useful for prediction. We will remove it too. Besides, there are also certain columns that appear duplicated. See for example the columns *EGOERA_EU/ESTADO_EU* and *EGOERA_CAS/ESTADO_CAS*, which contain the same information in different languages. To avoid repetition, we are also going to remove the duplicated columns from our dataframe.

<div class="alert alert-info"><b>Exercise 1 </b> Write the code to remove columns <b>_id</b>, <b>JARDUERA_ZENBAKIA/NUM_ACTUACION</b>, <b>ERABILTZAILEA_EU/USUARIO_EU</b>,  <b>EGOERA_EU/ESTADO_EU</b> and <b>ITXIERAKO AGENTEA_EU/AGENTE CIERRE_EU</b> from your DataFrame.
</div>

<div class='alert alert-warning'>Make sure that you remove the columns completely and that you don't modify the name of your dataframe, which should still be <b>data</b></div>

In [4]:
# YOUR CODE HERE
data=data.drop(['_id','JARDUERA_ZENBAKIA/NUM_ACTUACION','ERABILTZAILEA_EU/USUARIO_EU','EGOERA_EU/ESTADO_EU','ITXIERAKO AGENTEA_EU/AGENTE CIERRE_EU'], axis = 1)

In [5]:
# LEAVE BLANK

In [6]:
# LEAVE BLANK

In [7]:
# LEAVE BLANK

In [8]:
# LEAVE BLANK

In [9]:
# LEAVE BLANK

In [10]:
# LEAVE BLANK

### Modifying column names

All column names are provided in Basque/Spanish. As they are, they might not be very informative to you. Hence, we are going to translate their names into English. There exists a Pandas function called ```rename```that can be used for this purpose. If you decide to use it, check the docs and make sure you know how to use this function before moving on to the next exercise.

<div class="alert alert-info"><b>Exercise 2 </b> Write the code to rename the columns in your dataframe according to the following equivalences:
    <ul>
        <li><i>ALTA_DATA/FECHA ALTA</i>: ENTRY DATE</li>
        <li><i>ALTUERA/ALTURA</i>: HEIGHT</li>
        <li><i>DIAMETROA/DIAMETRO</i>: DIAMETRE</li>
        <li><i>EGOERA_CAS/ESTADO_CAS</i>: STATUS</li>
        <li><i>ERABILTZAILEA_CAS/USUARIO_CAS</i>: USER</li>
        <li><i>ESPEZIE/ESPECIE</i>: SPECIES</li>
        <li><i>HELBIDEA/DIRECCION</i>: ADDRESS</li>
        <li><i>ITXIERAKO AGENTEA_CAS/AGENTE CIERRE_CAS</i>: CLOSING AGENT</li>
        <li><i>ITXIERA_DATA/FECHA CIERRE</i>: CLOSING DATE</li>
        <li><i>KOKALEKUA/UBICACION</i>: LOCATION</li>
        <li><i>UDALERRIA/MUNICIPIO</i>: MUNICIPALITY</li>
        <li><i>URTEA/ANIO</i>: YEAR</li>
        <li><i>latitude</i>: LAT</li>
        <li><i>longitude</i>: LON</li>
    </ul>
    
</div>

<div class='alert alert-warning'>Make sure that you remove the columns completely and that you don't modify the name of your dataframe, which should still be <b>data</b></div>

<div class="alert alert-warning">Make sure that your rename the columns according to the names provided above. They should all be in capital letters.</div>

<div class="alert alert-warning">Because we are renaming the columns, by the end of this exercise your dataframe should only contain the columns listed above.</div>

In [11]:
# YOUR CODE HERE
data=data.rename(columns={"ALTA_DATA/FECHA ALTA": "ENTRY DATE",
                          "ALTUERA/ALTURA": "HEIGHT",
                          "DIAMETROA/DIAMETRO": "DIAMETRE",
                          "EGOERA_CAS/ESTADO_CAS": "STATUS",
                          "ERABILTZAILEA_CAS/USUARIO_CAS": "USER",
                          "ESPEZIE/ESPECIE": "SPECIES",
                          "HELBIDEA/DIRECCION": "ADDRESS",
                          "ITXIERAKO AGENTEA_CAS/AGENTE CIERRE_CAS": "CLOSING AGENT",
                          "ITXIERA_DATA/FECHA CIERRE": "CLOSING DATE",
                          "KOKALEKUA/UBICACION": "LOCATION",
                          "UDALERRIA/MUNICIPIO": "MUNICIPALITY",
                          "URTEA/ANIO": "YEAR",
                          "latitude": "LAT",
                          "longitude": "LON"
                         })

In [12]:
# LEAVE BLANK

In [13]:
# LEAVE BLANK

In [14]:
# LEAVE BLANK

In [15]:
# LEAVE BLANK

In [16]:
# LEAVE BLANK

In [17]:
# LEAVE BLANK

In [18]:
# LEAVE BLANK

In [19]:
# LEAVE BLANK

In [20]:
# LEAVE BLANK

In [21]:
# LEAVE BLANK

In [22]:
# LEAVE BLANK

In [23]:
# LEAVE BLANK

In [24]:
# LEAVE BLANK

In [25]:
# LEAVE BLANK

In [26]:
# LEAVE BLANK

### Dealing with missing values

Now that our dataframe is properly labelled, let's take a look at the missing values. If you take a close look at the data, you'll see that there are several entries encoded with NaNs. We are going to first identify them and then remove them from the dataframe.

The expected output of the count_nulls function of DataFrame data is as follows

|	|COL	       |N_NULLS|
|---|--------------|---|
|0	|YEAR	       |0|
|1	|ENTRY DATE	   |0|
|2	|USER	       |0|
|3	|MUNICIPALITY  |0|
|4	|ADDRESS	   |0|
|5	|SPECIES	   |221|
|6	|LOCATION	   |407|
|7	|HEIGHT	       |221|
|8	|DIAMETRE	   |221|
|9	|LON	       |994|
|10	|LAT	       |994|
|11	|STATUS	       |0|
|12	|CLOSING DATE  |442|
|13	|CLOSING AGENT |0|

<div class="alert alert-info"><b>Exercise 3 </b> Write the code to complete function <i>count_nulls</i>. This function should take as input single argument called <b>df</b> containing a dataframe object and should return a new dataframe with two columns called COL and N_NULLS, respectively. COL should contain the different column names in the provided dataframe. N_NULLS should contain the number of missing values for each column. For example, in the case of our dataframe data, the column YEAR has no missing values, then the content for this row has to be YEAR in the column COL in string format and 0 in the column N_NULL in integer format.
</div>

<div class="alert alert-warning"> Column names of the returned dataframe should be provided exactly as they appear in the input dataframe df
</div>

<div class="alert alert-warning"> Your function should work for any provided dataframe. Ideally, you should check that it works for <i>data</i>, but also for any other dataframe object.</div>

In [27]:
def count_nulls(df):
    data_items=[]
    for i in range(len(df.isnull().sum())):
        data_items.append([df.isnull().sum().index[i],df.isnull().sum()[i]])
    return pd.DataFrame(data_items, columns = ['COL', 'N_NULLS'])

count_nulls(data)

              COL  N_NULLS
0            YEAR        0
1      ENTRY DATE        0
2            USER        0
3    MUNICIPALITY        0
4         ADDRESS        0
5         SPECIES      221
6        LOCATION      407
7          HEIGHT      221
8        DIAMETRE      221
9             LON      994
10            LAT      994
11         STATUS        0
12   CLOSING DATE      442
13  CLOSING AGENT        0

In [28]:
# LEAVE BLANK

In [29]:
# LEAVE BLANK

In [30]:
# LEAVE BLANK

In [31]:
# LEAVE BLANK

In [32]:
# LEAVE BLANK

In [33]:
# LEAVE BLANK

We can now use this function to count the number of missing values in our dataframe. For those columns that have at least one missing value, there are two things we can do: remove the columns completely or fill the values that are missing. 

In general, we drop columns with a null value count above the 10% of the total number of rows. Our dataframe contains 6790 rows. All columns with more than 679 missing values should therefore be dropped.

<div class="alert alert-info"><b>Exercise 4 </b> Write the code to identify and drop those columns in your dataframe that contain <b>more than 679 missing values</b>. When possible, try to come up with a way to write the code to identify the right columns before hard-coding their names.
</div>

<div class='alert alert-warning'>Make sure that you remove the columns completely and that you don't modify the name of your dataframe, which should still be <b>data</b></div>

In [34]:
# YOUR CODE HERE

items=[]
for i in range(len(data.isnull().sum())):
    if(data.isnull().sum()[i]>int(len(data)/10)):
        items.append(str(data.isnull().sum().index[i]))
        
data=data.drop(items,axis=1)

In [35]:
# LEAVE BLANK

In [36]:
# LEAVE BLANK

Among the remaining columns with missing values, there are two numerical columns, two categorical columns and one column which stores date information. In the following, we are going to fill in the missingvalues for these columns. Since dealing with datetime data is out of the scope of this course, we are simply going to remove that column.

<div class="alert alert-info"><b>Exercise 5 </b> Write the code to fill in the missing values in the numerical columns with the median and those in the categorical columns with the most frequent category. Finally, remove the column with missing values that stores date information.
</div>

<div class='alert alert-warning'>Make sure that the changes you make to the dataframe are effectively performed and that no missing values are left after replacement.</div>

<div class='alert alert-warning'>Make sure that you remove the column completely and that you don't modify the name of your dataframe, which should still be <b>data</b></div>

In [37]:
# YOUR CODE HERE
data["SPECIES"]=data["SPECIES"].fillna(data.describe(include='O')['SPECIES'].top)
data["LOCATION"]=data["LOCATION"].fillna(data.describe(include='O')['LOCATION'].top)

data["HEIGHT"]=data["HEIGHT"].fillna(data['HEIGHT'].median())
data["DIAMETRE"]=data["DIAMETRE"].fillna(data['DIAMETRE'].median())

data=data.drop(["CLOSING DATE"],axis=1)

In [38]:
# LEAVE BLANK

In [39]:
# LEAVE BLANK

In [40]:
# LEAVE BLANK

In [41]:
# LEAVE BLANK

In [42]:
# LEAVE BLANK

In [43]:
# LEAVE BLANK

### Categorical variable encoding

Now that we've removed all the missing values, the next step is to encode the categorical values to convert them to numerical. There are several categorical variables in our dataframe, including USER, MUNICIPALITY, ADDRESS, SPECIES, LOCATION, STATUS and CLOSING AGENT. In addition, there is also the ENTRY DATE columns, which refers to datetime information. 

The first step before encoding categorical attributes is to check their values to ensure there are no errors. For this purpose, you can use the ```unique``` function. 

You'll notice that the values for USER and MUNICIPALITY are often the same. Hence, we will start by removing the first column to avoid redundancy in our dataset. In addition, the ADDRESS information is often too specific and might not be useful as a predictor. We will therefore also remove this attribute. Finally, we will also get rid of ENTRY DATE, since we don't want to deal with datetime attributes.

<div class="alert alert-info"><b>Exercise 6 </b> Write the code to create a new dataframe called <b>cleaned_data</b> which contains the same information stored in <i>data</i>, excluding the columns <i>USER</i>, <i>ADDRESS</i> and <i>ENTRY DATE</i>.
</div>

In [44]:
# YOUR CODE HERE
print("Unique value in USER:")
print(len(data["USER"].unique()))
# YOUR CODE HERE
print("Unique value in MUNICIPALITY:")
print(len(data["MUNICIPALITY"].unique()))

Unique value in USER:
113
Unique value in MUNICIPALITY:
118

In [45]:
cleaned_data=data.drop(['USER',"ADDRESS","ENTRY DATE"],axis=1)

In [46]:
# LEAVE BLANK

In [47]:
# LEAVE BLANK

If you take a close look at the unique values for CLOSING AGENT, you'll see that there appears to be a typing mistake, whereby some entries have been labelled with "AYUNTAMIENTO" and some others with "AYUNTAMIENTO " with an extra space at the end of the string. This is clearly an error that needs to be taken care of.

<div class="alert alert-info"><b>Exercise 7 </b> Write the code to modify all the entries in <i>cleaned_data</i> for which the value of the column <b>CLOSING AGENT</b> is equal to <b>"AYUNTAMIENTO "</b> and set them to the value <b>"AYUNTAMIENTO"</b>.
</div>

<div class='alert alert-warning'>Remember to check that you've correctly modified all the values.</div>

In [48]:
# YOUR CODE HERE
print("Before Replacing:")
print(cleaned_data['CLOSING AGENT'].unique())
cleaned_data['CLOSING AGENT']=cleaned_data['CLOSING AGENT'].replace("AYUNTAMIENTO ", "AYUNTAMIENTO")
print("After Replacing:")
print(cleaned_data['CLOSING AGENT'].unique())

Before Replacing:
['BOMBEROS' 'BASALAN' 'AYUNTAMIENTO ' 'AYUNTAMIENTO']
After Replacing:
['BOMBEROS' 'BASALAN' 'AYUNTAMIENTO']

In [49]:
# LEAVE BLANK

We can now encode the categorical variables. Note, however, that in order to be able to make predictions for the different municipalities, we need to keep the MUNICIPALITY column as it is. We will therefore not encode this column for now.

<div class="alert alert-info"><b>Exercise 8 </b> Write the code to convert variables <b>CLOSING AGENT</b>, <b>STATUS</b>, <b>SPECIES</b> and <b>LOCATION</b>. In all cases, assume that there is no order among the categories. You can use any method of your choosing to perform the encoding. Juts make sure that the new column are named exactly the same way as the original categories.
</div>

<div class='alert alert-warning'>Make sure that you remove the original columns and that you don't modify the name of your dataframe, which should still be <b>cleaned_data</b></div>

In [50]:
# YOUR CODE HERE
cleaned_data['CLOSING AGENT']=cleaned_data['CLOSING AGENT'].replace("BOMBEROS",0)
cleaned_data['CLOSING AGENT']=cleaned_data['CLOSING AGENT'].replace("BASALAN",1)
cleaned_data['CLOSING AGENT']=cleaned_data['CLOSING AGENT'].replace("AYUNTAMIENTO",2)
cleaned_data['CLOSING AGENT'].unique()

array([0, 1, 2], dtype=int64)

In [51]:
cleaned_data['STATUS'].unique()
cleaned_data['STATUS']=cleaned_data['STATUS'].replace("CERRADA - ELIMINADO",0)
cleaned_data['STATUS']=cleaned_data['STATUS'].replace("CERRADA - NO ELIMINABLE",1)
cleaned_data['STATUS']=cleaned_data['STATUS'].replace("PENDIENTE DE GRUPO",2)
cleaned_data['STATUS'].unique()

array([0, 1, 2], dtype=int64)

In [52]:
cleaned_data['SPECIES']=cleaned_data['SPECIES'].replace("AVISPA ASIÁTICA",0)
cleaned_data['SPECIES']=cleaned_data['SPECIES'].replace("AVISPA COMÚN",1)
cleaned_data['SPECIES']=cleaned_data['SPECIES'].replace("ABEJA",2)
cleaned_data['SPECIES'].unique()

array([0, 1, 2], dtype=int64)

In [53]:
cleaned_data['LOCATION'].unique()
cleaned_data['LOCATION']=cleaned_data['LOCATION'].replace("CONSTRUCCIÓN",0)
cleaned_data['LOCATION']=cleaned_data['LOCATION'].replace("ARBOLADO",1)
cleaned_data['LOCATION'].unique()

array([0, 1], dtype=int64)

In [54]:
# LEAVE BLANK

In [55]:
# LEAVE BLANK

In [56]:
# LEAVE BLANK

In [57]:
# LEAVE BLANK

In [58]:
# LEAVE BLANK

### Data normalization

As a final step, we will normalize the data. Given that most of the variables in the original dataset were unordered categorical attributes that are now encoded as 0/1 features, it makes sense to use a [0,1] normalization to convert all the data to the [0,1] range.

Bear in mind when doing this that the column YEAR contains the year when the different nests were found and the column MUNICIPALITY the names of the town where the nests were located. We will use these data as reference, so we won't be encoding them.

<div class="alert alert-info"><b>Exercise 9 </b> Write the code to normalize all the columns in <i>cleaned_data</i> except for <b>YEAR</b> and <b>MUNICIPALITY></b> using a min/max scaler and store the result in a new dataframe called <i>norm_data</i>. Feel free to use any method of your choosing to perform the scaling. Just make sure you keep the original column names.
</div>

In [59]:
# YOUR CODE HERE
def minmaxscaling(col):
    print("Before Scaling..")
    print("Minimun:",min(col),"Maximun:",max(col))
    col=col-min(col)
    col=col/max(col)
    print("After Scaling..")
    print("Minimun:",min(col),"Maximun:",max(col))
    return col
norm_data=pd.DataFrame() 
norm_data['YEAR']=cleaned_data['YEAR']
norm_data['MUNICIPALITY']=cleaned_data['MUNICIPALITY']

norm_data['SPECIES']=minmaxscaling(cleaned_data['SPECIES'])

Before Scaling..
Minimun: 0 Maximun: 2
After Scaling..
Minimun: 0.0 Maximun: 1.0

In [60]:
norm_data['LOCATION']=minmaxscaling(cleaned_data['LOCATION'])

Before Scaling..
Minimun: 0 Maximun: 1
After Scaling..
Minimun: 0.0 Maximun: 1.0

In [61]:
norm_data['HEIGHT']=minmaxscaling(cleaned_data['HEIGHT'])

Before Scaling..
Minimun: 0.0 Maximun: 250.0
After Scaling..
Minimun: 0.0 Maximun: 1.0

In [62]:
norm_data['DIAMETRE']=minmaxscaling(cleaned_data['DIAMETRE'])

Before Scaling..
Minimun: 0.0 Maximun: 255.0
After Scaling..
Minimun: 0.0 Maximun: 1.0

In [63]:
norm_data['STATUS']=minmaxscaling(cleaned_data['STATUS'])

Before Scaling..
Minimun: 0 Maximun: 2
After Scaling..
Minimun: 0.0 Maximun: 1.0

In [64]:
norm_data['CLOSING AGENT']=minmaxscaling(cleaned_data['CLOSING AGENT'])

Before Scaling..
Minimun: 0 Maximun: 2
After Scaling..
Minimun: 0.0 Maximun: 1.0

In [65]:
# LEAVE BLANK

In [66]:
# LEAVE BLANK

### Bonus exercise

According to the challenge, we should train a machine learning model that predicts the number of nests for each municipality for the year 2020. For this purpose, we will first group the data by municipality and year.

<div class="alert alert-danger"><b>Bonus </b> Since each row corresponds to a single nest, write the code to count the number of nests (or rows) by municipality and year. Save the output in a new dataframe called <b>counts</b>. Each row in this dataframe should correspond to a different municipality/year combination. This dataframe should contain the same columns as <i>norm_data</i>. The values for each column should display the total count of nests for each municipality and year.
</div>

In [67]:
# YOUR CODE HERE
#grouping Municipality and Year
counts = cleaned_data.groupby(['YEAR', 'MUNICIPALITY'])
counts.head(5)

,YEAR,MUNICIPALITY,SPECIES,LOCATION,HEIGHT,DIAMETRE,STATUS,CLOSING AGENT
0,2019,ABADIÑO,0,0,0.0,1.0,0,0
1,2019,ABADIÑO,0,0,8.0,10.0,0,1
2,2019,ABADIÑO,1,0,2.0,2.0,0,0
3,2019,ABADIÑO,0,0,4.0,20.0,0,0
4,2019,ABADIÑO,0,1,10.0,30.0,0,0
...,...,...,...,...,...,...,...,...
6785,2019,ZIORTZA-BOLIBAR,0,0,6.0,10.0,0,1
6786,2018,ZIORTZA-BOLIBAR,0,1,10.0,50.0,1,1
6787,2018,ZIORTZA-BOLIBAR,0,0,2.0,15.0,0,1
6788,2018,ZIORTZA-BOLIBAR,1,0,5.0,50.0,0,0
6789,2018,ZIORTZA-BOLIBAR,0,0,4.0,30.0,0,0

In [68]:
norm_data.shape

(6790, 8)

In [69]:
# LEAVE BLANK

In [70]:
# LEAVE BLANK

In [71]:
# LEAVE BLANK

In [72]:
# LEAVE BLANK